/* Sidebar menu */
html, body {
	height: 100%;
}

body {
	background-image: url("PokemonBackground.jpg");
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	height: 50%;
	background-color: grey;
	color: white;
	padding: 20px;
	opacity: 0.75;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  /* Content section */
  #content {
	margin-left: 350px;
	margin-right: 350px;
	padding: 20px;
	background-color: grey;
	color: white;
	opacity: 0.9;
  }
  
  /* Feedback section */
  #feedback {
	position: fixed;
	top: 20px;
	right: 20px;
	width: 300px;
	background-color: grey;
	color: white;
	padding: 20px;
	display: flex;
	flex-direction: column;
	opacity: 0.75;

  }
  
  /* Forum section */
  #forum {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 300px;
	background-color: grey;
	color: white;
	padding: 20px;
	clear: both;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0.75;

  }

  /* Centered text */
  h1, h2, p {
	text-align: center;
  }
  
  /* Buttons */
  button {
	display: block;
	margin-bottom: 10px;
  }

  .forum_button{
	height: 40px;
	width: 300px;
  }

  .forum_button:hover{
	background-color: aqua;
  }

.minimize-btn, .close-btn {
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	background-color: transparent;
	margin-left: 5px;
	border: none;
	font-size: 16px;
	cursor: pointer;
	border: 1px solid black;

}

.minimize-btn:hover, .close-btn:hover {
	background-color: red;
}
